@charset "UTF-8";
* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: linear-gradient(to right, #465C69, #363457);
}
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(45, 60, 68, 0.712);
    width: 600px;
    margin: auto;
    padding: 10px;
}
h1 {
    color: #735290;
    text-align: center;
    text-shadow: 1px 1px 2px #3d2c4dc9;
}
h2 {
    color: #C4A69D;
}
p {
    text-align: justify;
}